In [13]:
# General:
import tweepy           # To consume Twitter's API
import pandas as pd     # To handle data
import numpy as np      # For number computing
import scipy
# For plotting and visualization:
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# Twitter App access keys for @user

# Consume:
CONSUMER_KEY    = 'D7PQj2xuuw2CQunHiLFCUyy8v'
CONSUMER_SECRET = '0u9PwH9JhLsvndnsRv5tF2NyoH7KJim2CruJ4zVE7TsMZetHFi'

# Access:
ACCESS_TOKEN  = '2163444086-30rJ2fINs8CNQiCslKpIMcSGC3eeqMMaQRLWesH'
ACCESS_SECRET = 'aQOkHU0pH5q5vEto6VnlNZYlUOm6EdrI5lPMDatFtk1dn'

In [6]:
# We import our access keys:
from credentials import *    # This will allow us to use the keys as variables

# API's setup:
def twitter_setup():
    """
    Utility function to setup the Twitter's API
    with our access keys provided.
    """
    # Authentication and access using keys:
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

    # Return API with authentication:
    api = tweepy.API(auth)
    return api

In [7]:
# We create an extractor object:
extractor = twitter_setup()

# We create a tweet list as follows:
tweets = extractor.user_timeline(screen_name="realDonaldTrump", count=200)
print("Number of tweets extracted: {}.\n".format(len(tweets)))

# We print the most recent 5 tweets:
print("5 recent tweets:\n")
for tweet in tweets[:5]:
    print(tweet.text)
    print()

Number of tweets extracted: 200.

5 recent tweets:

The economy of the United States is stronger than ever before!

Thank you @RandPaul. “The President has gone through a year and a half of totally partisan investigations - what’s he supposed to think?”

While I had a great meeting with NATO, raising vast amounts of money, I had an even better meeting with Vladimir Pu… https://t.co/4BGXYfNXl9

I had a great meeting with NATO. They have paid $33 Billion more and will pay hundreds of Billions of Dollars more… https://t.co/7M1kcZrfmo

Will be interviewed on @seanhannity tonight at 9pmE and @TuckerCarlson tomorrow night at 8pmE. Enjoy!

In [8]:
# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweets'])

# We display the first 10 elements of the dataframe:
display(data.head(10))

                                              Tweets
0  The economy of the United States is stronger t...
1  Thank you @RandPaul. “The President has gone t...
2  While I had a great meeting with NATO, raising...
3  I had a great meeting with NATO. They have pai...
4  Will be interviewed on @seanhannity tonight at...
5  A productive dialogue is not only good for the...
6  I would rather take a political risk in pursui...
7  As I said today and many times before, “I have...
8  Thank you Helsinki, Finland! https://t.co/rh4N...
9  Joint Press Conference from Helsinki, Finland:...

In [9]:
# Internal methods of a single tweet object:
print(dir(tweets[0]))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'parse', 'parse_list', 'place', 'retweet', 'retweet_count', 'retweeted', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

In [10]:
# We print info from the first tweet:
print(tweets[0].id)
print(tweets[0].created_at)
print(tweets[0].source)
print(tweets[0].favorite_count)
print(tweets[0].retweet_count)
print(tweets[0].geo)
print(tweets[0].coordinates)
print(tweets[0].entities)

1019230023897833479
2018-07-17 14:39:08
Twitter for iPhone
68186
14031
None
None
{'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []}

In [11]:
# We add relevant data:
data['len']  = np.array([len(tweet.text) for tweet in tweets])
data['ID']   = np.array([tweet.id for tweet in tweets])
data['Date'] = np.array([tweet.created_at for tweet in tweets])
data['Source'] = np.array([tweet.source for tweet in tweets])
data['Likes']  = np.array([tweet.favorite_count for tweet in tweets])
data['RTs']    = np.array([tweet.retweet_count for tweet in tweets])

In [12]:
# Display of first 10 elements from dataframe:
display(data.head(10))

,Tweets,len,ID,Date,Source,Likes,RTs
0,The economy of the United States is stronger t...,62,1019230023897833479,2018-07-17 14:39:08,Twitter for iPhone,68186,14031
1,Thank you @RandPaul. “The President has gone t...,137,1019228676460773377,2018-07-17 14:33:47,Twitter for iPhone,49236,11724
2,"While I had a great meeting with NATO, raising...",140,1019225830298456066,2018-07-17 14:22:28,Twitter for iPhone,60939,15884
3,I had a great meeting with NATO. They have pai...,139,1019218575691837443,2018-07-17 13:53:39,Twitter for iPhone,62672,15048
4,Will be interviewed on @seanhannity tonight at...,101,1018992115810910208,2018-07-16 22:53:47,Twitter for iPhone,64220,13920
5,A productive dialogue is not only good for the...,136,1018956970143858688,2018-07-16 20:34:07,Twitter for iPhone,70932,19083
6,I would rather take a political risk in pursui...,138,1018955906690584576,2018-07-16 20:29:54,Twitter for iPhone,107070,30569
7,"As I said today and many times before, “I have...",140,1018943446583668736,2018-07-16 19:40:23,Twitter for iPhone,115964,28158
8,"Thank you Helsinki, Finland! https://t.co/rh4N...",52,1018900904735531014,2018-07-16 16:51:20,Twitter for iPhone,81695,15870
9,"Joint Press Conference from Helsinki, Finland:...",70,1018890862653157381,2018-07-16 16:11:26,Twitter for iPhone,47552,12568

In [14]:
#try using dendrogram by parsing texts into words
from scipy.cluster.hierarchy import dendrogram, linkage, set_link_color_palette

In [15]:
link = linkage(data, method='complete')

NameError: name 'df' is not defined